.activate-interviewer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    width: 100vh;
    padding: 20px;
}

.content {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 70vh;
    text-align: center;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}

.success-message {
    margin-top: 15px;
    color: rgba(0, 128, 0, 0.63);
    font-size: 16px;
    font-weight: bold;
}
