.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

#close-button {
    position: absolute;
    color: #932807;
    top: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-applications {
    margin-top: 20px;
}

.modal-application-item {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

.modal-application-item a {
    color: #dc9c79;
    text-decoration: none;
}

.modal-application-item a:hover {
    text-decoration: underline;
}

.modal-application-actions {
    margin-top: 10px;
}

.modal-application-actions select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    color: #444;
    font-size: 14px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.modal-application-actions select:focus {
    border-color: #dc9c79;
    box-shadow: 0 0 5px rgba(220, 156, 121, 0.5);
}

.modal-application-actions select:hover {
    border-color: #dc9c79;
}

.modal-application-actions select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23444" d="M2 0L0 2h4z"/></svg>') no-repeat right 8px center;
    background-size: 8px 10px;
    padding-right: 30px;
}
