.jobs-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #69493FFF;
}

.dashboard-header-4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #444;
}

.main-content-jobs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
}

.job-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.job-card {
    position: relative;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.job-title {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.job-company {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.job-location {
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
}

.job-description {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

.job-details {
    font-size: 14px;
    color: #555;
}

.job-details span {
    font-weight: 500;
}

.job-closing-date {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

.apply-button {
    position: absolute;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgba(11, 105, 101, 0.89);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    bottom: 10px;
    right: 20px;
    font-weight: 700;
}

.apply-button:hover {
    background-color: #084D4AE2;
}

.applied-button {
    position: absolute;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #a88d7d;
    color: white;
    cursor: not-allowed;
    transition: background-color 0.2s;
    bottom: 10px;
    right: 20px;
    font-weight: 700;
}

.category-list {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.category-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #dc9c79;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

.category-button:hover {
    background-color: #c48b6f;
}

.category-button.active {
    background-color: #69493f;
    color: white;
}


